@layer base {
  @font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/ibmplexmono-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
}
