@layer base {
  @font-face {
    font-family: 'IBM Plex Mono';
    src: url('/fonts/ibmplex-mono-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/roboto-mono-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
}
